<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pais.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pais.</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="floating">Ingrese el nombre del país en inglés:</ion-label>
      <ion-input [(ngModel)]="pais" required></ion-input>
    </ion-item>
  
    <ion-button expand="full" (click)="buscarUniversidades()">Buscar Universidades</ion-button>
  
    <ion-card *ngFor="let universidad of universidades">
      <ion-card-header>{{ universidad.name }}</ion-card-header>
      <ion-card-content>
        <p>Dominio: {{ universidad.domains }}</p>
        <p>Enlace: <a [href]="universidad.web_pages[0]">{{ universidad.web_pages[0] }}</a></p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
